{% extends "layout.html" %}

{% block title %}
	Instructions
{% endblock %}

{% block main %}

	<p class="h2">Instructions</p>
	<p><i>
		A tongue-twister is a phrase that is designed to be difficult to articulate properly, and can be used as a type of spoken (or sung) word game. 
		Additionally, they can be used as exercises to improve pronunciation and fluency, according to  
		<a href="https://en.wikipedia.org/wiki/Tongue-twister">Wikipedia</a>.
	</i></p>
	<p>This Tongue Twister application will measure how much you can speak phrases and Google Speech can understand. 
		However, it is just for fun and cannot be considered as your real level of pronunciation or fluency because it depends on Google recognition.</p>
	<p class="lead">1) Enable your microphone in your browser;</p>
	<p class="lead">2) Click on the button Start to record;</p>
	<p class="lead">3) Speak what you see after the word "Say";</p>
	<p class="lead">4) After finish speaking, click Stop to interrupt the recording;</p>
	<p class="lead">5) Wait for the app checking your speech;</p>
	<p class="lead">6) Your score to the current phrase will be shown;</p>
	<p class="lead">7) Click Next to go to another phrase; Repeat from step 2.</p>

{% endblock %}